---
import PeopleTag from "@components/tag/peopleTag.astro";
const { person } = Astro.props;
---

<div
  class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 duration-300 bg-[#f0f0f0] hover:bg-[#f0f0f0]/50 rounded-[20px] m-3"
>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href=`https://github.com/${person.githubId}`
  >
    <img
      class="w-4/6 mx-auto my-[20px] rounded-[20px]"
      src=`https://avatars.githubusercontent.com/${person.githubId}`
    />
      {
        person.tag.map((tag: string) => (
          <PeopleTag tag={tag}/>
        ))
      }
    <div class="text-center pb-[15px] hover:underline">@{person.githubId}</div>
  </a>
</div>
