---
const { person } = Astro.props;
---

<div
  class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 duration-300 bg-[#f0f0f0] hover:bg-[#f0f0f0]/50 w-1/2 rounded-[20px] m-3"
>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href=`https://github.com/${person.githubId}`
  >
    <img
      class="p-[40px] m-auto"
      src=`https://avatars.githubusercontent.com/${person.githubId}`
    />
    <div class="text-center pb-[15px] hover:underline">@{person.githubId}</div>
  </a>
</div>
