---

---

<div class="h-dvh flex flex-col md:flex-row justify-center md:justify-evenly py-40">
    <div class="w-full md:w-1/2 my-2 md:my-auto">
        <div class="flex justify-center">
            <img class="relative w-3/4 md:w-2/4 rounded-[18px] mr-0 md:mr-[100px]" src="/hackathon/HackathonSpring.png" />
        </div>
        <div class="flex justify-center mt-10">
            <img class="relative w-3/4 md:w-2/4 rounded-[18px] ml-0 md:ml-[100px]" src="/hackathon/HackathonFall.png" />
        </div>
    </div>
    <div class="w-full md:w-1/2 text-center my-2 md:my-auto">
        PoApper 는 
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-1 before:bg-[#E94D4C] relative inline-block">
                <span class="relative text-white hover:underline">
                    함께 최신 개발 기술을 익히고 공유하며 성장하는 개발 동아리
                </span>
            </span>
        입니다. <br/>
        <div class="p-3">개발 세미나와 해커톤 등을 개최하여 POSTECH 의 개발 문화를 이끌고 있습니다.</div>
    </div>
</div>