---
import Navbar from "@components/section/Navbar.astro";
import Footer from "@components/section/Footer.astro";
---

<html class="">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>PoApper</title>
    <script is:inline>
    </script>
  </head>
  <body class="font-mono">
    <div class="flex flex-col h-screen justify-between">
      <Navbar />
      <main class="mb-auto mx-4 md:mx-24 my:1 md:my-4">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
  <style>
  </style>
</html>
